
div {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #333;
  font-size: 15px;
  font-family: Optima;
}

.demo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxes {
  display: flex;
}

.box {
  min-height: 300px;
  min-width: 220px;
  margin: 10px;
  border: 1px solid #999;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.item {
  border: 1px solid #aaa;
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  background-color: #eee;
}

/**** styles for dragging ****/

.box.dnd--is-drop-target {
  border: 2px solid #ffdc9c;
}

.item.dnd--is-dragging {
  opacity: 0.4;
}
