
body {
  margin: 0 auto;
  color: #333;
  font-size: 15px;
  font-family: Optima;
}

.demo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  min-height: 100px;
  margin: 10px;
  border: 1px solid #999;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.box.dnd--is-drop-target {
  border: 2px solid #ffdc9c;
}

.item {
  border: 1px solid #aaa;
  width: 100px;
  margin: 5px;
  padding: 5px;
  background-color: #eee;
}

.item.dnd--is-dragging {
  opacity: 0.4;
}
